{% extends "layout.html" %}

{% block banner %}
<div class="jumbotron">
  <div class="container">
    <h1>Wikipedia channel for IFTTT</h1>
    <p>Backend API for integrating Wikimedia projects with <a href="https://ifttt.com/" rel="nofollow">IFTTT</a>.</p>
  </div>
</div>
{% endblock %}
